// // Colors

$main-color: #7e93a9;
$title-color: #141F33;
$form-label-color: #6d6d6d;
$thems-color: #00A9FF;
$second-thems-color: #fa983f;
$background-color: #fff;

// // Fonts
$main-weight: 400;
$bold-weight: 700;
$main-size: 16px;
$main-height: 1.8;
// $title-size: 18px;

// // Responsive
// $pc-max-width: 1200;
$tablet-max-width: 1024;
// $mobile-max-width: 768;
$mobile8p-max-width: 416;
// $mobilese-max-width: 320;

